body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

* {
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

#container{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(48, 48, 48);
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 20px;
    background-color: rgb(33, 33, 33);
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    padding: 15px;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    filter: brightness(150%);
}
button:active{
    filter: brightness(200%);
}

.operators{
    background-color: rgb(235, 161, 12);
}

.numbers{
    background-color: rgb(78, 78, 78);
}