body{
    text-align: center;
    font-family: monospace;
    background-color: rgb(226, 223, 223);
}

h1{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(51, 50, 50);
}

#container{
    text-align: center;
    border: black 2px solid;
    width: 50%;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    border-width: 3px;
    background-color: white;
}

#timer{
    font-size: 4rem;
    font-weight: bold;
    color: rgb(67, 66, 66);
    text-shadow: 2px 2px 2px rgb(44, 44, 44);
    margin-bottom: 25px;
}

#button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

button{
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: 540;
    min-width: 125px;
    padding: 4px 10px;
    cursor: pointer;
}

#start-button{
    background-color: rgb(79, 196, 79);
}
#stop-button{
    background-color: rgb(220, 60, 60);
}
#reset-button{
    background-color: rgb(77, 176, 233);
}
