body{
    margin: 0;
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

input{
    border: 2px solid #5f9341;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    padding: 8px 10px;
}

button{
    margin-top: 5px;
    padding: 10px 15px;
    background-color: #5f9341;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: #538139;
}